body {
    width: 600px;
    font-family: Arial, sans-serif;
    padding: 0 20px 20px 20px;
    margin: 0 auto;
    background: #f4f4f4;
    display: block;

}

form {
    background: white;
    padding: 20px 250px;
    box-shadow: 1px 2px 10px rgba(0,0,0,0.2);
    width: 200px;
    border-radius: 10px;
    text-align: center;
}

h1 {
    padding: 20px 0;
    margin: 0;

}

label {
    font-size: 15px;
    color: black;
    margin-bottom: 10px;
    margin-top: 10px;
    display: block;
}

input {
    width: 100%;
}

button {
    margin-top: 10px;
    cursor: pointer;
}


.background-service-view {
    background-color: gray;
}

.view-service {
    margin-top: 10px;
    margin-bottom: 10px;
    border: 3px solid black;
    padding: 10px;
    background-color: white;
}

.view-past {
    margin-top: 50px;
    margin-bottom: 50px;
    border: 1px solid black;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 20px;
}

.view-present {
    margin-top: 50px;
    margin-bottom: 50px; 
    border: 1px solid black;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 20px;
}

.view-future {
    margin-top: 50px;
    margin-bottom: 50px; 
    border: 1px solid black;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 20px;
}

.receipt{
    background-color: white;
}