<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Client Dashboard</title>
    <link rel="stylesheet" href="/css/client.css">
    <script src="client.js" defer></script>
    <script src="https://kit.fontawesome.com/7482e9f3eb.js" crossorigin="anonymous"></script>
   
</head>

<body>
    <h1>Welcome To The Client Dashboard!</h1>
    <div>
        <a href="/views/login.html"><button class="logOff">Log Off</button></a>
    </div>

    <nav class="contactbar">
        <ul>
            <li><a href="">Home</a></li>
            <li><a href="">About me</a></li>
            <li><a href="">Contact me</a></li>
        </ul>
    </nav>

    <div class="icon-container">
        <div class="icon-item">
            <a href="communication.html"><i class="fa-sharp fa-solid fa-phone fa-5x"></i></a>
            <p>Communication</p>
        </div>
        <div class="icon-item">
            <a href="#" onclick="toggleDetails('user-details')">
                <i class="fa-solid fa-user fa-5x"></i>
            </a>
            <p>User Profile</p>
            <div class="details" id="user-details">
                <a href="profile.html">
                    <p> Profile Settings</p>
                </a>
                <a href="payment.html">
                    <p>Payment Info</p>
                </a>
            </div>
        </div>
        <div class="icon-item">
            <a href="#" onclick="toggleDetails('services-details')">
                <i class="fa-solid fa-screwdriver-wrench fa-5x"></i>
            </a>
            <p>Services</p>
            <div class="details" id="services-details">
                <a href="services_search.html">
                    <p>  Search for offered services</p>
                </a>
                
                <a href="/views/client/services_request.html">
                    <p>Request specific services</p>
                </a>
                <a href="services_cancel.html">
                    <p>Cancel a service</p>
                </a>
                <a href="/views/client/services_view.html">
                     <p>Overview of past and future services</p>
                </a>  
            </div>
        </div>    
        <div class="icon-item">
            <a href="/views/client/receipts_view.html">
                <i class="fa-solid fa-receipt"></i>
            </a>
            <p>Bills And Receipts</p>
        </div>
        <div class="icon-item">
            <a href="notification.html"><i class="fa-solid fa-bell"></i></a>
                <p>Notifications</p>
           
        </div>

        <div class="icon-item">
            <a href="/views/client/faq.html"><i class="fa-solid fa-info"></i></a>
            <p>FAQs And Help Section</p>
        </div>
    </div>


</body>
</html>

 