<!-- 
This is Sith's responsibility.
Feel free to look at Greg's pages (Login/Register/Business_Index)
for reference; it's best to have our styling look the same.
 -->
<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="/css/client.css">
<title>Client Dashboard</title>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Welcome To The Client Dashboard !</h1>
    <div >
        <a href="/views/login.html"><button class="logOff">Log Off</button></a>
    </div>
    
</body>

</html>