<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Communication</title>
    <link rel="stylesheet" href="/css/communication.css">
</head>
<body>
    <h1>Informations On The Business Owners</h1>
    <div class="container">
        <div class="container">
            <div id="picture" >
                <img src="/css/Images/profile_pic.jpg">
            </div>
            <div id="name">
                <h3>Full name:</h3> 
                <p>John Smith</p>
            </div>
            <hr>
            <div id="name">
                <h3>Email:</h3>
                <p>JohnSmith@gmail.com</p>
            </div>
            <hr>
            <div id="name">
                <h3>Phone:</h3>
                <p>(514)-123-4567</p>
            </div>
            <hr>
            <div id="name">
                <h3>Job Description:</h3>
                <p>Exterior Window Cleaning</p>
            </div>
            <hr>
           
        </div>

        <div class="container">
            <div class="container">
                <div id="picture" >
                    <img src="/css/Images/profile_pic.jpg">
                </div>
                <div id="name">
                    <h3>Full name:</h3> 
                    <p>John Smith</p>
                </div>
                <hr>
                <div id="name">
                    <h3>Email:</h3>
                    <p>JohnSmith@gmail.com</p>
                </div>
                <hr>
                <div id="name">
                    <h3>Phone:</h3>
                    <p>(514)-123-4567</p>
                </div>
                <hr>
                <div id="name">
                    <h3>Job Description:</h3>
                    <p>Interior Window Cleaning</p>
                </div>
                <hr>
                
            </div>

        <div class="options" style="margin: 20px auto; text-align: center;">
            <button class="go-back-button" onclick="goBack()">Go Back</button>
        </div>    
    </div>
    <script>
         

        // Function to go back to the previous page
        function goBack() {
            window.history.back();
        }
    </script>
    
</body>
</html>