<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FAQ</title>
    <link rel="stylesheet" href="/css/faq.css">
</head>
<body>
    <div class="faq_container">
        <h2 class="title">FAQ</h2>
        <p class="header">Find the answers for the most frequently asked questions below</p>
        <br>
        <div class="first_question">
            <h3 id="h3">Are the services free?</h3>
            <p id="p">Absolutely Not! You have to pay the compagnie choosen the fees that they have marked on the website
                and the prices are non negociable.
            </p>
            <br>
            <h3 id="h3">How do I pay?</h3>
            <p id="p">
                Yes. Go to the billing section of your dashboard and update your payment information. 
            </p>
            <br>
            <h3 id="h3"> A question that is longer then the previous one?</h3>
            <p id="p">Yes, it is possible! You can cancel your subscription anytime in your account. Once the subscription 
                is cancelled, you will not be charged next month.</p>
        </div>
    </div>
    

</body>
  
</html>