<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notifications</title>
    <link rel="stylesheet" href="/css/notification.css">
</head>
<body>
<div class="container">
    <h3>Notifications</h3>
</div>
<div class="error">
    <p>Error Alert:</p>
</div>

<div class="success">
    <p>Success Alert:</p>
</div>

<div class="warning">
    <p>Warning Alert</p>
</div>

<div class="information">
    <p>Information</p>
</div>
    
</body>
</html>