<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="stylesheet" href="/css/profile.css">
</head>
<body>

    

    <div class="container">
        <div class="container">
            <div id="picture" >
                <center><img src="/css/Images/profile_pic.jpg"></center>
            </div>
            <div id="name_pic">
                <h2>John Smith</h3>
            </div>
            <div id="name_pic">
                <p>Client</p>
            </div>
            
        </div>
        <div class="container" >
            <div id="name">
                <h3>Full name:</h3> 
                <p>John Smith</p>
            </div>
            <hr>
            <div id="name">
                <h3>Email:</h3>
                <p>JohnSmith@gmail.com</p>
            </div>
            <hr>
            <div id="name">
                <h3>Phone:</h3>
                <p>(514)-123-4567</p>
            </div>
            <hr>
            <div id="name">
                <h3>Address</h3>
                <p>123 Road ChestNut, Montreal, QC</p>
            </div>
            <hr>
            <button class="option-box" onclick="">Edit</button>
        </div>
    
    </div>
    



    <div class="options" style="margin: 20px auto; text-align: center;">
        <button class="go-back-button" onclick="goBack()">Go Back</button>
    </div>    

    <script>
         

        // Function to go back to the previous page
        function goBack() {
            window.history.back();
        }
    </script>
</body>
</html>