<!-- 
This is Paul's responsibility.
Feel free to look at Greg's pages (Login/Register/Business_Index)
for reference; it's best to have our styling look the same.
 -->

<!DOCTYPE html> 
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/standard.css">
    <title>Service View</title>
</head>
<body class="container">
    <div class="view-service">
    
        <h1>Service View</h1>
        <p>All purchased services</p>

        <div class="view-services">
            <h2>Past</h2>
            <p class="service-description">Regular interior cleaning</p>
        </div>

        <div class="view-services">
            <h2>Present</h2>
            <p class="service-description">Major interior cleaning</p>
        </div>

        <div class="view-services">
            <h2>Future</h2>
            <p class="service-description">Exterior cleaning</p>
        </div>


        <p class="service-information">For more detail on the service</p>
        <a href="/views/client/receipts_view.html"><button class="receiptbutton">Click here</button></a>
    </div>
</body>
</html>

