<!-- 
This is Paul's responsibility.
Feel free to look at Greg's pages (Login/Register/Business_Index)
for reference; it's best to have our styling look the same.
 -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/standard.css">
    <title>Service View</title>
</head>

<body class="container">


    <h1>Service View</h1>
    <p>All purchased services</p>

    <div class="service">
        <h2>Past</h2>
        <p class="service-name">Regular interior cleaning</p>
    </div>

    <div class="service">
        <h2>Present</h2>
        <p class="service-name">Major interior cleaning</p>
    </div>

    <div class="service">
        <h2>Future</h2>
        <p class="service-name">Exterior cleaning</p>
    </div>


    <b>For more detail on the services</b>
    <div class="option-box"><a href="/views/client/receipts_view.html">Click here</a></div>

</body>
</html>