<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/business/index">
      <% if (businessInfo.logo) { %>
        <img src="<%= businessInfo.logo %>" alt="Business Logo" style="height: 40px; margin-right: 10px;">
      <% } %>
      <%= businessInfo.name || "Default Business Name" %>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" 
    aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup" style="display:flex; margin-left: auto">
      <div class="navbar-nav">
        <a class="nav-link active" href="/business/index">Home</a>
        <a class="nav-link" href="/business/services_requested">See Requested Services</a>
        <a class="nav-link" href="/business/services">Modify Services</a>
        <a class="nav-link" href="/business/edit">Edit Business Information</a> 
      </div>  
      <form action="/logout" method="POST" style="display:flex; margin-left: auto">
        <button class="btn btn-danger" style="display:flex; margin-left: auto" type="submit">Logout</button>
      </form>
    </div>
  </div>
</nav>
