<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">*Business Name*</a>
    <button class="btn btn-danger" style="display:flex; margin-left: auto">Logout</button>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" 
    aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" href="./business_index.html">Home</a>
        <a class="nav-link" href="./services_requested.html">See Requested Services</a>
        <a class="nav-link" href="./services_modify.html">Modify Services</a>
        <a class="nav-link" href="./business_edit.html">Edit Business Information</a>
      </div>
    </div>
  </div>
</nav>
  