<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/client/index">
      <% if (businessInfo.logo) { %>
        <img src="<%= businessInfo.logo %>" alt="Business Logo" 
             style="height: 40px; width: 40px; margin-right: 10px; border-radius: 50%; object-fit: cover;">
      <% } %>
      <%= businessInfo.name || "Default Business Name" %>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" 
    aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" href="/client/index">Home</a>
        <a class="nav-link" href="/client/communication">Contact Us</a>
        <a class="nav-link" href="/client/services_request">Request a Service</a>
        <a class="nav-link" href="/client/services_view">View Your Purchase History</a>
        <a class="nav-link" href="/client/receipts_view">View Receipts</a>
      </div>
    </div>
    <form action="/logout" method="POST">
      <button class="btn btn-danger" style="display:flex; margin-left: auto" type="submit">Logout</button>
    </form>
  </div>
</nav>