<!-- This is Greg's responsibility. -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/standard.css">
    <title>Register</title>
</head>
<body>
    <h1>Create An Account!</h1>
        <form> <!-- Add action & method afterwards when routes enabled -->
            <div>
                <label for="username">Enter Username:</label>
                <input type="text" name="username" id="username" placeholder="Username" required> 
            </div>
            <div>
                <label for="password">Enter Password:</label>
                <input type="password" name="password" id="password" placeholder="Password" required> 
            </div>
            <button class="option-box">Register</button> 
        </form>
        <br>
        <div>
            <a class="go-back-button" href="login.html">Login Page</a>
        </div>
</body>
</html>