<!-- This is Greg's responsibility. -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/standard.css">
    <title>Register</title>
</head>
<body>
    <h1>Create An Account!</h1>
    <form> <!-- Add action & method afterwards when routes enabled -->
        <div>
            <label for="username">Enter username:</label>
            <input type="text" name="username" id="username" placeholder="username" required> 
        </div>
        <div>
            <label for="password">Enter password:</label>
            <input type="password" name="password" id="password" placeholder="password" required> 
        </div>
        <button>Register</button> 
    </form>
    <div>
        <a href="/login">Login Page</a>
    </div>
</body>
</html>