<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Services</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>

    <div class="container">
        <h1>Edit Services</h1>
        <p>Please select the option that refers to you:</p>

        <div class="options">
            <div class="option-box">
                <a href="services_modify.html">Service Provider</a>
            </div>
            <div class="option-box">
                <a href="services_requested.html">Client</a>
            </div>
        </div>
    </div>

</body>
